@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

.scrollbar-thin::-webkit-scrollbar { height: 6px; width: 6px; }
.scrollbar-thin::-webkit-scrollbar-thumb { background: #2b2b36; border-radius: 999px; }
